@charset "utf-8";
body {
  background: #33312e;
}
.content_1 {
  font-family: 微软雅黑;
  width: 100%;
  background: #33312e;
}
.content_1_1 {
  width: 1349px;
  margin: 0 auto;
}
#logo {
  position: relative;
  padding-top: 0.1px;
  background: url(../images/logo_03.png) no-repeat 120px 29px #ffffff;
  border-bottom: 2px solid #45c79f;
}
#logo .logo_p1 {
  width: 680px;
  margin: 25px 0 0 301px;
  position: relative;
}
#logo .logo_p1 input {
  font-family: 微软雅黑;
  width: 680px;
  border-radius: 20px;
  height: 40px;
  border: none;
  text-indent: 44px;
  background: url(../images/pic_06.png) no-repeat 12px 10px #f0f0f0;
}
#logo .logo_p1 ul {
  width: 645px;
  border: 1px #ccc solid;
  position: absolute;
  top: 40px;
  background: #fff;
  left: 17px;
  display: none;
}
#logo .logo_p1 ul li {
  border-bottom: solid 1px #f4f4f4;
}
#logo .logo_p1 ul li a {
  font-family: 微软雅黑;
  width: 635px;
  height: 38px;
  padding-right: 10px;
  line-height: 38px;
  color: #323232;
  font-size: 16px;
  text-indent: 12px;
}
#logo .logo_p1 ul li a:hover {
  background: #13c0a4;
  color: #fff;
}
#logo .logo_p1 ul li a > span {
  float: right;
  font-size: 13px;
  color: #dbdbdb;
  font-weight: bold;
}
#logo .logo_p2 {
  position: absolute;
  right: 100px;
  top: 30px;
}
#logo .logo_p2 a {
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  color: #ccc;
  padding: 0 13px;
  text-indent: 12px;
}
#logo .logo_p2 a:not(:last-of-type) {
  border-right: 1px solid #ccc;
  background: url(../images/pic_03.png) no-repeat 0 3px;
}
#logo .logo_p2 a:nth-of-type(2) {
  background: url(../images/pic_03.png) no-repeat 13px 3px;
  padding-left: 26px;
}
#logo .logo_p2 a:hover {
  color: #45c79f;
}
#logo .logo_p3 {
  height: 75px;
}
#logo .logo_p3 a {
  line-height: 10px;
  text-align: center;
  width: 81px;
  height: 30px;
  margin-left: 17px;
  padding-top: 42px;
  color: #666;
  font-size: 14px;
  border-bottom: 5px solid transparent;
}
#logo .logo_p3 a:nth-of-type(1) {
  width: 160px;
  margin-left: 76px;
  background: url(../images/bag_06.png) no-repeat 126px 43px, url(../images/bag_03.png) no-repeat 158px 35px;
}
#logo .logo_p3 a:hover:not(:first-of-type) {
  color: #45c79f;
  border-bottom: 3px solid #45c79f;
}
#logo .logo_p3 .logo_p3_a4 {
  background: url(../images/wanletag.gif) no-repeat 35px 25px;
  background-size: 37px 12px;
  position: relative;
}
#logo .logo_p3 .logo_p3_a4 span {
  background: red;
  font-size: 15px;
  position: absolute;
  width: 6px;
  height: 6px;
  top: 36px;
  left: 66px;
  background: url(../images/tran_03.png) no-repeat;
}
#banner {
  margin: 0 auto;
  height: 420px;
  background: url(../images/banner1-black-img1.jpg) -286px 0;
}
#city {
  height: 102px;
  width: 1160px;
  background: #fff;
}
#city span {
  margin: 23px 35px 0 28px;
  font-size: 14px;
}
#city a {
  font-size: 14px;
  color: #666;
  padding: 5px 6px;
}
#city a:not(:first-of-type) {
  margin-right: 3px;
  margin-left: 5px;
}
#city a:hover {
  color: #12af7e;
  text-decoration: underline;
}
#sequence {
  height: 83px;
  line-height: 83px;
  width: 1160px;
  background: #33312e;
  padding-top: 0.1px;
}
#sequence a {
  font-size: 14px;
  color: #fff;
}
#sequence a:nth-of-type(1) {
  color: #12af7e;
  text-indent: 4px;
  margin-right: 37px;
}
#sequence a:nth-of-type(2) {
  width: 40px;
  background: url(../images/arrow_11.png) no-repeat 32px 34px;
  margin-right: 34px;
}
#sequence a:nth-of-type(2):hover {
  color: #12af7e;
}
#sequence a:nth-of-type(3) span {
  vertical-align: middle;
  margin-right: 6px;
  width: 14px;
  height: 14px;
  background: #fff;
  border: 1px solid #ccc;
}
#show {
  width: 1157px;
  background: #33312e;
}
.show_1 {
  height: 270px;
  margin-bottom: 27px;
}
.show_1 .pic {
  float: left;
  width: 400px;
  height: 270px;
  background: url(../images/pic_11.png);
}
.show_1 .show_1_1 {
  width: 757px;
  height: 270px;
  float: right;
  background: #fff;
}
.show_1 .show_1_1 p {
  padding-top: 0.1px;
}
.show_1 .show_1_1 .num {
  width: 737px;
  text-align: right;
  padding: 12px 20px 0 0;
}
.show_1 .show_1_1 .num b {
  float: left;
  margin: 0 0 0 20px;
  font-size: 14px;
  color: #636363;
  padding: 5px 9px;
  border: 1px solid #ccc;
}
.show_1 .show_1_1 .num em {
  color: #17b081;
}
.show_1 .show_1_1 .num span {
  color: #666;
}
.show_1 .show_1_1 .des {
  width: 707px;
  font-size: 26px;
  margin-left: 20px;
}
.show_1 .show_1_1 .des a {
  color: #000;
}
.show_1 .show_1_1 .des a:hover {
  color: #17b081;
}
.show_1 .show_1_1 .des_2 {
  margin-top: 6px;
}
.show_1 .show_1_1 .des_2 .icon {
  width: 384px;
  background: url(../images/pic_14.png) no-repeat 0 2px;
  color: #666;
  height: 20px;
  text-indent: 24px;
  margin-left: 19px;
  font-size: 14px;
}
.show_1 .show_1_1 .des_2 .price {
  line-height: 15px;
  float: right;
  margin-right: 22px;
}
.show_1 .show_1_1 .des_2 .price del,
.show_1 .show_1_1 .des_2 .price em {
  color: #bbb;
  font-size: 11px;
}
.show_1 .show_1_1 .des_2 .price b {
  font-size: 36px;
  color: #ff7362;
}
.show_1 .show_1_1 .pre {
  margin-top: 29px;
}
.show_1 .show_1_1 .pre a {
  float: right;
  width: 176px;
  height: 56px;
  text-align: center;
  line-height: 56px;
  background: #ff7362;
  color: #fff;
  font-size: 18px;
}
.show_1 .show_1_1 .pre a:hover {
  background: rgba(255, 115, 98, 0.8);
}
iframe {
  width: 100%;
  display: block;
}
