@charset "utf-8";
*{padding:0; margin:0;}
em{font-style: normal;}
b{font-weight: normal; display: inline-block}
a{text-decoration: none;display: inline-block;}
li{list-style:none;}
img{/*display: block;*/vertical-align: top;}
span{display: inline-block;}